.product-features {
  width: 90%;
  word-wrap: break-word;
  margin-top: 100px;
  margin-bottom: 40px;
}
.buy-now-btn {
  --pf-v5-c-button--FontSize: 30px;
  --pf-v5-c-button--m-primary--BackgroundColor: black;
}
