.personalize-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .personalize-bottom-container {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      width: 80%;
  
  
      .personalize-bottom-left-container {
        padding: 30px;
        width: 65%;
        height: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .occasion-type{
          display: flex;
          width: 35%;
          justify-content: space-evenly;
        }

        #date-time{
          border: 2px solid #9F9F9F;
          border-radius: 7px;
        }

        #personal-message{
          border: 2px solid #9F9F9F;
          border-radius: 7px;
        }
  
        .personalize-heading {
          font-size: 26px;
          font-weight: 600px;
          margin-bottom: 30px;
        }

        .sender-container{
          display: flex;
          

          .sender-text{
            font-weight: 600;
            justify-content: space-between;
            width: 100%;
          }
        }

        .keep-suprise-container{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 48%;
        }
  
      }
    }
  }
  