.pincode-searchbox{
    padding:6px;
    width:250px;
    padding-left: 30px;
    border-radius: 3px;
}

.cart-location-icon{
    position: relative;
    top: 5px;

    left: 25px;
}

.checkButton{
    padding: 5px 15px 5px 15px;
    background-color: transparent;
    color: #B8263D;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #B8263D;
    margin-left: 3%;
    border-radius: 3px;
}

.cart-item-price-contianer{
    display: flex;
    justify-content: space-between;
    width: 90%;

    .cart-bottom-right-container{
        display: flex;
        flex-direction: column;
        
        .shopping-btn {
        background-color: #ff9f00;
        margin-top: 15px;
        width: 380px;
        height: 50px;
        font-weight: 600;
        font-size: 18px;
        align-self: center;
      }
    }

    
}

.cart-recommended-section{
    margin-top: 50px;
}