.order-comfirm-main-continaer {
  height: 73vh;
  .order-confirm-container {
    width: 60%;
    height: 310px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 90px;
    padding-top: 36px;
    padding-left: 36px;

    .order-confirm-heading {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .order-confirm-text {
      font-size: 20px;
      font-weight: 400;
    }

    .continue-shopping-btn {
      width: 317px;
      height: 60px;
      background-color: #b8263d;
      margin-top: 40px;
      font-weight: 600;
      font-size: 20px;
    }
  }
}
