.home-body {
  .home-main-container {
    .delivery-heading {
      margin-top: 20px;
    }

    .delivery-container {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
