.pincode-searchbox{
    padding:6px;
    width:250px;
    padding-left: 30px;
}

.cart-location-icon{
    position: absolute;
    top: 11px;
    margin-left: 6px;
}

.checkButton{
    padding: 5px 15px 5px 15px;
    background-color: transparent;
    color: #B8263D;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #B8263D;
    margin-left: 3%;
}

.cart-recommended-section{
    margin-top: 50px;
}