.pincode-searchbox{
    padding:6px;
    width:250px;
}

.cart-location-icon{
    position: absolute;
    left:15px;
    top:12px
}

.cart-searchbox-placehoder{
    position:absolute;
    left:44px;
    top:14px
}

.checkButton{
    padding: 5px 15px 5px 15px;
    background-color: transparent;
    color: #B8263D;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #B8263D;
    margin-left: 3%;
}