.active-pill-container{
    border: 2px solid #B8263D;
    background: linear-gradient(90deg, #b8263d 0%, #feb600 70%);
    height: 40px;
    display: inline-block;
    padding-top: 4px;
    font-size: 16px;
}