.inactive-pill-container {
  border: 2px solid #b8263d;
  background: #fff;
  color: #b8263d;
  height: 40px;
  display: inline-block;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}
