.infoslider-main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  .infoslider-left-container {
    padding-left: 100px;
    overflow-wrap: break-word;
    text-align: left;

    .infoslider-heading {
      margin-top: 30px;
      margin-bottom: 20px;
      font-family: "The Nautigal", cursive;
      font-weight: 700;
      font-size: 70px;
      font-style: normal;
      background: linear-gradient(90deg, #b8263d 0%, #feb600 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    .infoslider-product-info {
      width: 80%;
      font-family: "Red Hat Text", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
  .infoslider-right-container {
    padding-bottom: 30px;
    & > img {
      width: 500px;
      height: 350px;
    }
  }
}

//changing arrow buttons style

.carousel-status {
  display: none;
}

.control-arrow {
  height: 30px;
}

.carousel .control-prev.control-arrow:before {
  content: url("../../assets/images/icon\ _chevron-left_.png");
  border-right: none;
}

.carousel .control-next.control-arrow:before {
  content: url("../../assets/images/icon\ _chevron-right_.png");
  border-left: none;
}

.carousel.carousel-slider .control-arrow:hover {
  background: none;
}

.carousel.carousel-slider .control-arrow {
  top: 30%;
}
